<span class="nav-title">About</span>
<div class="navbar smart-navbar review-print-hide">
    <ul class="nav navbar-nav">
        <li class="toolbar-item">
            <a routerLink="info" routerLinkActive="active">
                <span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;
                <span class ="graphic-title">Info</span>
            </a>
        </li>
        <li class="toolbar-item">
            <a routerLink="help" routerLinkActive="active">
                <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;&nbsp;
                <span class ="graphic-title">Help!</span>
            </a>
        </li>
    </ul>
</div>
<div class="content">
<router-outlet></router-outlet>
<br>
</div>

