<img type="image/png" src="assets/media/logos/studymc-logo-title.jpg" style="margin-right:auto; margin-left:auto; display:list-item;"/>
<p>StudyMC (Study Medicinal Chemistry) is a web application to help students in learning, testing, and reviewing their course topics.</p>
<br>
<div class="flex-container">
  <div class="flex-item mediumBox">
      <h2><span class="glyphicon glyphicon-education"></span>&nbsp;&nbsp;Learn</h2>
      <p>Content provided to help expand students' knowledge along with practice problems with feedback.</p>
  </div>
  <div class="flex-item mediumBox">
      <h2><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Test</h2>
      <p>Example test questions to gauge a student's knowledge on a particular topic.</p>
  </div>
  <div class="flex-item mediumBox">
      <h2><span class="glyphicon glyphicon-repeat"></span>&nbsp;&nbsp;Review</h2>
      <p>Printable online review sheet. The "Autocomplete" button on the right provides an example sheet.</p>
  </div>
</div>