<h1>Help!</h1>
<br>
<br>
<p>
    We recommending using a modern, Chromium based browser such as 
    <a href="https://www.google.com/chrome/browser/desktop/index.html" target="_newtab">Chrome</a>
    or 
    <a href="https://vivaldi.com" target="_newtab">Vivaldi</a>
    for best results.
</p>
<h2 id="review">Saving Review as PDF</h2>
<video width="560" height="350" controls>
    <source src="assets/media/videos/savePDF-HowTo-studymc.webm" type="video/webm">
    <source src="assets/media/videos/savePDF-HowTo-studymc.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
<h3>Directions</h3>
<ol>
    <li>After clicking the "Print!" button, a print page will appear.</li>
    <li>From the print page, Click on "Change..." under Destination in the top left side of the screen. A window will popup.</li>
    <li>Under "Local Destinations" click "Save as PDF." The window will close.</li>
    <li>In the top left side of the screen, click the "Save" button.</li>
</ol>
<br>
<hr>
<br>
<h2 id="web-app">Web-App on Mobile</h2>
<video width="360" height="620" controls>
    <source src="assets/media/videos/study-mc-web-app.webm" type="video/webm">
    <source src="assets/media/videos/study-mc-web-app.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>

<h3>Android: Add to Homescreen</h3>
<ol>
    <li>Press top right button in navigation bar. The button is three stacked dots.</li>
    <li>Press "Add to Home Screen."</li>
</ol>

<h3>iPhone: Add to Homescreen</h3>
<ol>
    <li>Press middle button in navigation bar at bottom of iPhone screen. The button is an arrow pointing out of a box.</li>
    <li>Press "Add to Home Screen."</li>
</ol>
<br>
<hr>
<br>
<h2 id="desktop">Shortcut on Desktop</h2>
<video width="560" height="350" controls>
    <source src="assets/media/videos/study-mc-AddDesktop.webm" type="video/webm">
    <source src="assets/media/videos/study-mc-AddDesktop.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
<br /><br />
<br /><br />
<hr>
<img type="image/png" src="assets/media/logos/icon-logo-144.png" style="margin-right:auto; margin-left:auto; display:list-item;"/>
<br /><br /><br />