<h1>Test Items Data</h1>
<div class="input-group input-group-lg input-users">
    <input class="form-control input-lg"
           [(ngModel)]="searchTerm"
           (keyup)="filterChanged()"
           id="test-search" type="text"
           placeholder="{{searchPlaceholder}}"/>

    <span class="input-group-btn">
        <button (click)="filterChanged()" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </span>
</div>
<br/>
<span *ngIf="!isLoading">{{searchedTestItems.length}} results from {{testItems.length}} items</span><br/>
<span *ngIf="isLoading"> Loading...</span> <br/>
<br/>
<table class="table" *ngIf="testItems">
    <thead>
    <tr>
        <th>Course Id</th>
        <th>Topic Name</th>
        <th>Title</th>
        <th>Question</th>
        <th>Answer</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let testproblem of searchedTestItems"> 
            <td>{{testproblem.courseId}}</td>
            <td>{{testproblem.topicName}}</td> 
            <td>{{testproblem.title}}</td> 
            <td>{{testproblem.question}}</td> 
            <td>{{testproblem.answer}}</td>
            <td *ngIf="!editBoxDisplayed">
                <div *ngIf="!testproblem.isLocked; else locked" class="pull-right">
                    <button class="btn btn-info" *ngIf="testproblem.key" (click)="updateTestProblem(testproblem.key)">Update</button>&nbsp;&nbsp;
                    <button class="btn btn-danger" *ngIf="testproblem.key" (click)="deleteTestProblem(testproblem.key)">Delete</button>&nbsp;&nbsp;
                </div>
            </td>
        </tr>
        <ng-template #zero><td>0</td></ng-template>
        <ng-template #locked><td><span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;Locked</td></ng-template>
    </tbody>
</table>


<div class="shaded" *ngIf="!editBoxDisplayed">
    <button type='button' class="btn-success add-button" (click)="editBoxDisplayed = true">+</button>
</div>
<div *ngIf="editBoxDisplayed" class="input-group input-group-sm text-center" id="editBox">
    <h2>Add Test Problem</h2>
    <form (ngSubmit)="submit()" #testProblemForm="ngForm" class="testproblem-form" novalidate>
    <div class="form-group">
        <label for="courseId">Course Id</label>
        <select [(ngModel)]="currentTestProblem.courseId"
                #courseId="ngModel"
                name="courseId"
                required>
            <option *ngFor="let course of courses" value="course.id">{{course.id}}</option>
        </select>
         <div class="alert alert-danger" [hidden]="courseId.valid"> Course Id is required</div>
    </div>
    <div class="form-group">
        <label for="topicName">Topic Name</label>
        <select [(ngModel)]="currentTestProblem.topicName"
                #topicName="ngModel"
                name="topicName"
                required>
            <option *ngFor="let topic of topics" value="topic.name">{{topic.name}}</option>
        </select>
        <div class="alert alert-danger" [hidden]="topicName.valid">Topic is required</div>
    </div>
     <div class="form-group">
        <label for="title">Problem Title</label>
        <input type="text"
            [(ngModel)]="currentTestProblem.title" 
            #title="ngModel"
            name="title"
            required/>
            <div class="alert alert-danger" [hidden]="title.valid">Problem Title is required</div>
    </div>
    <div class="form-group">
        <label for="question">Problem Question</label>
        <input type="text"
            [(ngModel)]="currentTestProblem.question" 
            #question="ngModel"
            name="question"
            required/>
            <div class="alert alert-danger" [hidden]="question.valid">Problem Question is required</div>
    </div>
    <label for="options">Options</label>
     <div id="options" *ngIf="currentTestProblem.options.length">
        <div *ngFor="let option of currentTestProblem.options; let i = index;" >
            <input [(ngModel)]="currentTestProblem.options[i]" type="text" id="{{currentTestProblem.id}}-option-{{i}}" name="{{currentTestProblem.id}}-option-{{i}}" required/>
            <br/>
        </div>
    </div>
   <br>
     <button type='button' class="btn-danger btn-default btn btn-sm" (click)="removeOption()">
       <span class="glyphicon glyphicon-minus"></span>
    </button>
     <button type='button' class="btn-success btn-default btn btn-sm" (click)="addOption()">
       <span class="glyphicon glyphicon-plus"></span>
    </button>
    <br>
    <br>
    <div class="form-group">
        <label for="answer">Problem Answer</label>
        <input type="text"
            [(ngModel)]="currentTestProblem.answer" 
            #answer="ngModel"
            name="answer"
            required/>
            <div class="alert alert-danger" [hidden]="answer.valid">Problem Answer is required</div>
    </div>
     <div class="checkbox">
        <label>
            <input type="checkbox"  
            [(ngModel)]="currentTestProblem.isLocked" 
            #isLocked="ngModel"
            name="isLocked" > Lock Test Problem
        </label>
    </div>
    <br>
    <button type='button' class="btn-default btn" (click)="cancelAction()">
      Cancel
    </button>
    <button type='button' *ngIf="testProblemForm.valid" class="btn-success btn-default btn" (click)="addTestProblem()">
       Add Course
    </button>
    </form>
</div>


