<h1>Test Items Data</h1>
<div class="input-group input-group-lg input-users">
    <input class="form-control input-lg"
           [(ngModel)]="searchTerm"
           (keyup)="filterChanged()"
           id="test-search" type="text"
           placeholder="{{searchPlaceholder}}"/>

    <span class="input-group-btn">
        <button (click)="filterChanged()" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </span>
</div>
<br/>
<span *ngIf="!isLoading">{{searchedTestItems.length}} results from {{testItems.length}} items</span><br/>
<span *ngIf="isLoading"> Loading...</span> <br/>
<br/>
<table class="table" *ngIf="testItems">
    <thead>
        <tr>
            <th>Topic Name</th>
            <th>Course Id</th>
            <th>Question</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of searchedTestItems">
            <td>{{item.topicName}}</td>
            <td>{{item.courseId}}</td> 
            <td>{{item.question}}</td> 
            <td><span *ngFor="let option of item.options">({{option}}), </span></td>
        </tr>
    </tbody>
</table>

<h1>Test Problems (AngularFire) </h1>
<table class="table" *ngIf="afTestProblems">
    <thead>
    <tr>
        <th>Course Id</th>
        <th>Topic Name</th>
        <th>Title</th>
        <th>Question</th>
        <th>Answer</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let testproblem of afTestProblems | async"> 
            <td>{{testproblem.courseId}}</td>
            <td>{{testproblem.topicName}}</td> 
            <td>{{testproblem.title}}</td> 
            <td>{{testproblem.question}}</td> 
            <td>{{testproblem.answer}}</td>
            <td *ngIf="!editBoxDisplayed">
                <div *ngIf="!testproblem.isLocked; else locked" class="pull-right">
                    <button class="btn btn-info" *ngIf="testproblem.number" (click)="updateTestProblem(testproblem.number)">Update</button>&nbsp;&nbsp;
                    <button class="btn btn-danger" *ngIf="testproblem.number" (click)="deleteTestProblem(testproblem.number)">Delete</button>&nbsp;&nbsp;
                </div>
            </td>
        </tr>
        <ng-template #zero><td>0</td></ng-template>
        <ng-template #locked><td><span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;Locked</td></ng-template>
    </tbody>
</table>

<div class="shaded" *ngIf="!editBoxDisplayed">
    <button type='button' class="btn-success add-button" (click)="editBoxDisplayed = true">+</button>
</div>
<div *ngIf="editBoxDisplayed" class="input-group input-group-sm text-center" id="editBox">
    <h2>Add Test Problem</h2>
    <form (ngSubmit)="submit()" #testProblemForm="ngForm" class="testproblem-form" novalidate>
    <div class="form-group">
        <label for="courseId">Course Id</label>
        <input type="number"
            [(ngModel)]="currentTestProblem.courseId" 
            #courseId="ngModel"
            name="courseId"
            required/>
            <div class="alert alert-danger" [hidden]="courseId.valid">Course Id is required</div>
    </div>
     <div class="form-group">
        <label for="courseStatus">Course Visibility</label>
        <select [(ngModel)]="currentCourse.status"
                #courseStatus="ngModel"
                name="courseStatus"
                required>
            <option value="active">active</option>
            <option value="inactive">inactive</option>
            <option value="hidden">hidden</option>
        </select>
         <div class="alert alert-danger" [hidden]="courseStatus.valid">Course Status is required</div>
    </div>
     <div class="form-group">
        <label for="courseName">Course Name</label>
        <input type="text"
            [(ngModel)]="currentCourse.name" 
            #courseName="ngModel"
            name="courseName"/>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"  
            [(ngModel)]="currentCourse.isLocked" 
            #isLocked="ngModel"
            name="isLocked" > Lock Test Problem
        </label>
    </div>
    <br>
     <button type='button' class="btn-danger btn-default btn btn-sm" (click)="removeTopic()">
       <span class="glyphicon glyphicon-minus"></span>
    </button>
     <button type='button' class="btn-success btn-default btn btn-sm" (click)="addTopic()">
       <span class="glyphicon glyphicon-plus"></span>
    </button>
    <br>
    <br>
     <button type='button' class="btn-default btn" (click)="cancelAction()">
      Cancel
    </button>
    <button type='button' *ngIf="coursesForm.valid" class="btn-success btn-default btn" (click)="addCourse()">
       Add Course
    </button>
    </form>
</div>


