<div *ngIf="isLoggedIn; else login">
    <h1>Adminstrator</h1>
    <br>
    <p>View, Edit, Add, or Delete data by clicking on one of the links at the top right. Locked items can be accessed through <a href="https://firebase.google.com" target="_newtab">Google's Firebase</a>. The login information is located in the documentation on the COP IT Google Drive.</p>
    <br>
    <a href="https://firebase.google.com" target="_newtab"><img type="image/jpg" src="assets/media/firebase.jpg" style="margin-right:auto; margin-left:auto; display:list-item;"/></a>
</div>

<ng-template #login>
    <div class="full-screen">
        <div class="login-box">
            <input class="form-control input-lg admin-input"
            [(ngModel)]="submission"
            type="password"
            name="submission"
            placeholder="admin password"/>
            
            <button (click)="verifyUser()" class="btn btn-lg btn-success enter-button">Enter</button>
            <br>
            <div *ngIf="message" class="alert alert-danger" role="alert"><strong>{{message}}</strong></div>
        </div>
         <a routerLink="/courses"> 
            <img type="image/png" src="assets/media/logos/studymc-logo-title.jpg" style="margin-right:auto; margin-left:auto; display:list-item;"/>
        </a>
    </div>
</ng-template>