<div *ngIf="testItems" class="content">
    <div *ngFor="let testItem of testItems; let i = index" [@NextPrevAnimation]="orientation">
      <span class="nav-title">{{testItem.topicName}}</span>
      <end-message *ngIf="moduleIsComplete" [topicName]="testItem.topicName" [incorrectAnswers]="incorrectAnswers"></end-message>
      <div *ngIf="currentQuestion == i">
          <h3> {{i/testItems.length | MyPercentPipe }} Complete</h3> 
        <form #f="ngForm" (ngSubmit)="onSubmit(testItem.answer)" *ngIf="validAnswer" method="post">
          <p class="test-question">
            {{testItem.question}}
            <br>
            <br>
            <select class="form-control input-lg" [(ngModel)]="userAnswer" name="userAnswerInput" required>
              <option  value="" selected="selected" disabled="disabled"></option>
              <option *ngFor="let option of testItem.options;">{{option}}</option>
            </select>
          </p>
          <div class="action-buttons shaded">
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
        </form>

        <div class="action-buttons shaded">
          <button (click)="retryQuestion()" class="btn btn-danger" *ngIf="!validAnswer">Retry</button>
        </div>

         <div class="alert alert-danger" role="alert" *ngIf="!validAnswer">
            <a href="#" class="alert-link">Incorrect Answer!</a>
         </div>

      </div>
    </div>
</div>

<div *ngIf="!testItems">
    <div class="alert alert-info review-alert" role="alert">
      <a href="#" class="alert-link"> There are currently no Test items for this topic.</a>
    </div>
</div>
