<div *ngIf="learnItems" class="content">
    <div *ngFor="let learnItem of learnItems; let i = index" [@NextPrevAnimation]="orientation">
      <span class="nav-title">{{learnItem.topicName}}</span>
       <end-message *ngIf="moduleIsComplete" [topicName]="learnItem.topicName" [incorrectAnswers]="incorrectAnswers">
       </end-message>
      <div *ngIf="currentQuestion == i">

        <h3>{{i/learnItems.length | MyPercentPipe }} Complete</h3>

        <alert-box [learnItem]="learnItem" [validAnswer]="validAnswer" [answerSubmitted]="answerSubmitted"></alert-box>
  
          <p>{{learnItem.title}} | {{learnItem.name}}</p>

            <div class="action-buttons">
              <div class="shaded">
                <button  type="button" class="btn btn-default" (click)="previousItem()"> Previous </button>
                <br>
                <br>
                <button (click)="retryQuestion()" class="btn btn-danger" *ngIf="!validAnswer">Retry</button>
              </div>

              <div *ngIf="learnItem.answer && !answerSubmitted" class="shaded">
                <button type="button" 
                        (click)="rightAnswer()" 
                        class="btn btn-success" 
                        *ngIf="learnItem.answer == userAnswer">
                    Submit
                </button>

                <button type="button" 
                        (click)="wrongAnswer()" 
                        class="btn btn-success" 
                        *ngIf="learnItem.answer != userAnswer && validAnswer">
                    Submit
                </button>
              </div>

              <div *ngIf="!learnItem.answer || answerSubmitted" class="shaded">
                <button type="button" (click)="nextItem()" class="btn btn-success" *ngIf="validAnswer">
                  Next
                </button>
              </div>
            </div>

          <div *ngIf="learnItem.compoundHotspots">
            <canvas-compound [learnItem]="learnItem" [i]="i">Loading Canvas...</canvas-compound>
          </div>

           <div *ngIf="learnItem.objects">
            <canvas-interaction [currentAnimation]="learnItem" [i]="i">Loading Canvas...</canvas-interaction>
          </div>

          <ul *ngIf="!learnItem.compoundHotspots && !learnItem.objects" class="flex-container">
            <li class="flex-item">
              <img src="assets/media/compounds/{{learnItem.topicName}}/{{learnItem.imagePath}}" id="logo" alt="logo">
            </li>
            <li class="flex-item" style="width: 400px;">
              <ul>
                <li *ngFor="let info of learnItem.colorLocationAssociations">
                      <p [style.color]=[info.color]> {{info.description}} </p>
                </li>
              </ul>

              <p *ngIf="learnItem.answer">
                {{learnItem.question}}
                <br>
                <br>
                <select class="form-control input-lg" [(ngModel)]="userAnswer" name="userAnswerInput" *ngIf="!answerSubmitted" required>
                  <option [value]="''" disabled="disabled"></option>
                  <option *ngFor="let option of learnItem.options;">{{option}}</option>
                </select>
              </p>
              <br>
            </li>
          </ul>

      </div>
    </div>
</div> 

<div *ngIf="!learnItems">
    <div class="alert alert-info review-alert" role="alert">
      <a href="#" class="alert-link"> There are currently no Learning items for this topic.</a>
    </div>
</div>