<div *ngIf="topic">
  <h1><b>Test</b> your Knowledge on {{topic.name}}</h1>
<div class="content">
  <end-message *ngIf="moduleIsComplete" [topicName]="topic.name" [incorrectAnswers]="incorrectAnswers"></end-message>
    <div *ngFor="let testItem of topic.testItems; let i = index" [@NextPrevAnimation]="orientation">
      <div *ngIf="currentQuestion == i">
        <br>
          <h2> {{i/topic.testItems.length | MyPercentPipe }} Complete</h2> 
        <br>
        <form #f="ngForm" (ngSubmit)="onSubmit(testItem.answer)" *ngIf="validAnswer" method="post">
          <p class="test-question">
            {{testItem.question}}
            <br>
            <br>
            <select class="form-control input-lg" [(ngModel)]="userAnswer" name="userAnswerInput" required>
              <option  value="" selected="selected" disabled="disabled"></option>
              <option *ngFor="let option of testItem.options;">{{option}}</option>
            </select>
          </p>
          <div class="action-buttons shaded">
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
        </form>

        <div class="action-buttons shaded">
          <button (click)="retryQuestion()" class="btn btn-danger" *ngIf="!validAnswer">Retry</button>
        </div>

         <div class="alert alert-danger" role="alert" *ngIf="!validAnswer">
            <a href="#" class="alert-link">Incorrect Answer!</a>
         </div>

      </div>
    </div>

    <div *ngIf="!topic.testItems.length">
        <div class="alert alert-info review-alert" role="alert">
          <a href="#" class="alert-link"> There are currently no Test items for {{topic.name}}.</a>
        </div>
    </div>

</div>
<div *ngIf="!topic" class="row">
  No topic found
</div>
</div>