    <div *ngIf="course">
        <span class="nav-title">MC - {{course.number}}</span>
        <div class="row">
        <h1>Course Topics</h1><br><br>

        <ul class="flex-container"> 
        <div *ngFor="let topic of course.topics;">
            <a [routerLink]="['/topic', topic.name,'learn']" class="{{topic.status + '-link' }}">
                <li class="flex-item topicBox hvr-back-pulse {{topic.status + '-box' }}">{{topic.name}}</li>
            </a>
        </div>
        <div *ngIf="!course.topics.length">
            <h1>No Topics!</h1>
        </div>
        </ul>

    </div>   
    <div *ngIf="!course" class="row">
        No course found
    </div>  