<h1>Courses Data</h1>
<div class="input-group input-group-lg input-users">
    <input class="form-control input-lg"
           [(ngModel)]="searchTerm"
           (keyup)="filterChanged()"
           id="courses-search" type="text"
           placeholder="Search for courses..."/>

    <span class="input-group-btn">
        <button (click)="filterChanged()" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </span>
</div>
<br/>
<span *ngIf="!isLoading">{{searchedCourses.length}} results from {{courses.length}} courses</span> <br/>
<span *ngIf="isLoading"> Loading...</span> <br/>
<br/>
<table class="table" *ngIf="courses">
    <thead class={{displayMode}}>
    <tr>
        <th>Id</th>
        <th>Number of Topics</th>
        <th>Status</th>
        <th>Full Name</th>
    </tr>
    </thead>
    <tbody>
            <tr *ngFor="let course of searchedCourses"> 
                <td>{{course.id}}</td>
                <td>{{course.topics.length}}</td> 
                <td>{{course.status}}</td> 
                <td>{{course.name}}</td>
            </tr>
    </tbody>
</table>
