<span class="nav-title">DataViewer</span>
<div class="navbar smart-navbar review-print-hide">
    <ul class="nav navbar-nav">
        <li class="toolbar-item">
            <a routerLink="courses" routerLinkActive="active">
                <span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;
                <span class ="graphic-title">Courses</span>
            </a>
        </li>
        <li class="toolbar-item">
            <a routerLink="test" routerLinkActive="active">
                <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;
                <span class ="graphic-title">Test</span>
            </a>
        </li>
        <li class="toolbar-item">
            <a routerLink="review" routerLinkActive="active">
                <span class="glyphicon glyphicon-repeat"></span>&nbsp;&nbsp;
                <span class ="graphic-title">Review</span>
            </a>
        </li>
    </ul>
</div>
<div class="content">
<router-outlet></router-outlet>
<br>
</div>