td, span, input {
    font-weight: bold;
}

td {
    text-align: center;
}

tr:nth-child(odd) {
    background-color: white;
}

tr:nth-child(even) {
    background-color: #f5f5f5;
}

tr:hover {
    background-color: rgba(0, 123, 203, 0.3);
}

td:hover {
    background-color: rgba(0, 123, 203, 0.3);
}

button.btn.btn-danger {
    font-size: 12px;
    height: unset;
}

.add-button {
    width: 75px;
    height: 75px;
    border-radius: 50px;
    position: fixed;
    bottom: 50px;
    right: 30px;
}

#editBox {
    position: fixed;
    height: 100vh;
    width: 300px;
    top: 30px;
    right: 0px;
    background-color: #f5f5f5;
    z-index: 999;
    padding: 20px;
    box-shadow: 0 0 10px rgb(111, 111, 111);
}

.alert {
    font-size: 12pt;
    text-align: center;
    border-width: 1px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: bold;
}

select {
    height: unset;
    font-size: unset;
    font-weight: bold;
}

.inputYoverflow {
    overflow-y: scroll;
    height: 150px;
    width: 250px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}