<h1>Courses</h1>
<div class="input-group input-group-lg">
    <input class="form-control input-lg"
           [(ngModel)]="searchTerm"
           (keyup)="filterChanged()"
           id="test-search" type="text"
           placeholder="{{searchPlaceholder}}"/>

    <span class="input-group-btn">
        <button (click)="filterChanged()" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </span>
</div>
<br/>
<span *ngIf="!isLoading">{{searchedCourses.length}} results from {{courses.length}} items</span><br/>
<span *ngIf="isLoading"> Loading...</span> <br/>
<br/>
<table class="table" *ngIf="courses">
    <thead>
    <tr>
        <th>Id</th>
        <th>Number of Topics</th>
        <th>Status</th>
        <th>Full Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of searchedCourses"> 
            <td>{{course.id}}</td>
            <td *ngIf="course.topics; else zero">{{course.topics.length}}</td> 
            <td>{{course.status}}</td> 
            <td>{{course.title}}</td>
            <td *ngIf="CurrentAction.View == action">
                <div *ngIf="!course.isLocked; else locked" class="pull-right">
                    <button class="btn btn-info" *ngIf="course.number" (click)="setEditKey(course.number)">Edit</button>&nbsp;&nbsp;
                    <button class="btn btn-danger" *ngIf="course.number" (click)="deleteCourse(course.number)">Delete</button>&nbsp;&nbsp;
                </div>
            </td>
        </tr>
        <ng-template #zero><td>0</td></ng-template>
        <ng-template #locked><td><span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;Locked</td></ng-template>
    </tbody>
</table>

<div class="shaded" *ngIf="CurrentAction.View == action">
    <button type='button' class="btn-success add-button" (click)="action = CurrentAction.Add">+</button>
</div>

<div *ngIf="action != CurrentAction.View" class="input-group input-group-sm text-center" id="editBox">
    <h2>{{CurrentAction[action]}} Course</h2>
    <form (ngSubmit)="submit()" #coursesForm="ngForm" class="courses-form" novalidate>
    <div class="form-group">
        <label>Course Id</label>
        <input type="number"
            [(ngModel)]="currentCourse.id" 
            #courseId="ngModel"
            name="courseId"
            required/>
            <div class="alert alert-danger" [hidden]="courseId.valid">Course Id is required</div>
    </div>
     <div class="form-group">
        <label>Course Visibility</label>
        <select [(ngModel)]="currentCourse.status"
                #courseStatus="ngModel"
                name="courseStatus"
                required>
            <option value="active">active</option>
            <option value="inactive">inactive</option>
            <option value="hidden">hidden</option>
        </select>
         <div class="alert alert-danger" [hidden]="courseStatus.valid">Course Status is required</div>
    </div>
     <div class="form-group">
        <label>Course Title</label>
        <input type="text"
            [(ngModel)]="currentCourse.title" 
            #courseTitle="ngModel"
            name="courseTitle"/>
    </div>
    <label><h3>Topics</h3></label>
     <div *ngIf="currentCourse.topics.length" class="inputYoverflow">
        <div *ngFor="let topic of currentCourse.topics; let i = index;" >
            <label>{{i+1}}. Topic Name</label>
            <input [(ngModel)]="currentCourse.topics[i].name" type="text" #topicName="ngModel" name="{{currentCourse.id}}-topic-{{i}}-name" required/>
            <div class="alert alert-danger" [hidden]="topicName.valid">Course Status is required</div>
            <br/>
            <label>{{i+1}}. Topic Status</label>
            <select [(ngModel)]="currentCourse.topics[i].status"
                #topicStatus="ngModel"
                name="{{currentCourse.id}}-topic-{{i}}-topicStatus"
                required>
                <option value="active">active</option>
                <option value="inactive">inactive</option>
                <option value="hidden">hidden</option>
            </select>
            <div class="alert alert-danger" [hidden]="topicStatus.valid">Course Status is required</div>
            <br/>
            <br/>
        </div>
    </div>
    <br>
     <button type='button' class="btn-danger btn-default btn btn-sm" (click)="removeTopic()">
       <span class="glyphicon glyphicon-minus"></span>
    </button>
     <button type='button' class="btn-success btn-default btn btn-sm" (click)="addTopic()">
       <span class="glyphicon glyphicon-plus"></span>
    </button>
    <br>
    <br>
    <div class="checkbox">
        <label>
            <input type="checkbox"  
            [(ngModel)]="currentCourse.isLocked" 
            #isLocked="ngModel"
            name="isLocked" > Lock Course
        </label>
    </div>
     <button type='button' class="btn-default btn" (click)="cancelAction()">
      Cancel
    </button>
    <button type='button' *ngIf="coursesForm.valid" class="btn-success btn-default btn" (click)="submit()">
       {{CurrentAction[action]}} Course
    </button>
    </form>
</div>
