<h1>Example Review Items Data</h1>
<div class="input-group input-group-lg input-users">
    <input class="form-control input-lg"
           [(ngModel)]="searchTerm"
           (keyup)="filterChanged()"
           id="review-search" type="text"
           placeholder="{{searchPlaceholder}}"/>

    <span class="input-group-btn">
        <button (click)="filterChanged()" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </span>
</div>
<br/>
<span *ngIf="!isLoading">{{searchedTestItems.length}} results from {{reviewItems.length}} items</span><br/>
<span *ngIf="isLoading"> Loading...</span> <br/>
<br/>
<table class="table" *ngIf="reviewItems">
    <thead>
    <tr>
        <th>Course Id</th>
        <th>Topic Name</th>
        <th>Review Item Title</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let reviewItem of searchedTestItems"> 
            <td>{{reviewItem.courseId}}</td>
            <td>{{reviewItem.topicName}}</td> 
            <td>{{reviewItem.title}}</td> 
            <td *ngIf="action == CurrentAction.View">
                <div *ngIf="!reviewItem.isLocked; else locked" class="pull-right">
                    <button class="btn btn-info" *ngIf="reviewItem.key" (click)="setEditKey(reviewItem.key)">Edit</button>&nbsp;&nbsp;
                    <button class="btn btn-danger" *ngIf="reviewItem.key" (click)="deleteReviewItem(reviewItem.key)">Delete</button>&nbsp;&nbsp;
                </div>
            </td>
        </tr>
        <ng-template #zero><td>0</td></ng-template>
        <ng-template #locked><td><span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;Locked</td></ng-template>
    </tbody>
</table>


<div class="shaded" *ngIf="action == CurrentAction.View">
    <button type='button' class="btn-success add-button" (click)="action = CurrentAction.Add">+</button>
</div>
<div *ngIf="action != CurrentAction.View" class="input-group input-group-sm text-center" id="editBox">
    <h2>{{CurrentAction[action]}} Review Item</h2>
    <form (ngSubmit)="submit()" #reviewItemForm="ngForm" class="reviewItem-form" novalidate>
    <div class="form-group">
        <label for="courseId">Course Id</label>
        <select [(ngModel)]="currentReviewItem.courseId"
                #courseId="ngModel"
                (click)="getTopicsByCourse()"
                name="courseId"
                required>
            <option *ngFor="let course of courses" [value]="course.id">{{course.id}}</option>
        </select>
         <div class="alert alert-danger" [hidden]="courseId.valid"> Course Id is required</div>
    </div>
    <div class="form-group">
        <label for="topicName">Topic Name</label>
        <select [(ngModel)]="currentReviewItem.topicName"
                #topicName="ngModel"
                (click)="getTopicsByCourse()"
                name="topicName"
                required>
            <option *ngFor="let topic of topics" [value]="topic.name">{{topic.name}}</option>
        </select>
        <div class="alert alert-danger" [hidden]="topicName.valid">Topic is required</div>
    </div>
     <div class="form-group">
        <label for="title">Title</label>
        <input type="text"
            [(ngModel)]="currentReviewItem.title" 
            #title="ngModel"
            name="title"/>
    </div>
    <label>Sections</label>
     <div class="inputYoverflow" *ngIf="currentReviewItem.sections.length">
        <div *ngFor="let option of currentReviewItem.sections; let i = index;" >
            <label>{{i+1}}. Title</label>
            <input [(ngModel)]="currentReviewItem.sections[i].title" type="text" id="{{currentReviewItem.id}}-section-{{i}}-title" name="{{currentReviewItem.id}}-section-{{i}}-title" required/>
            <br/>
            <label>{{i+1}}. Content</label>
            <input [(ngModel)]="currentReviewItem.sections[i].content" type="text" id="{{currentReviewItem.id}}-section-{{i}}-content" name="{{currentReviewItem.id}}-section-{{i}}-content" required/>
            <br/>
            <label>{{i+1}}. Image Path (Optional)</label>
            <input [(ngModel)]="currentReviewItem.sections[i].imagePath" type="text" id="{{currentReviewItem.id}}-section-{{i}}-imagePath" name="{{currentReviewItem.id}}-section-{{i}}-imagePath"/>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
   <br>
     <button type='button' class="btn-danger btn-default btn btn-sm" (click)="removeSection()">
       <span class="glyphicon glyphicon-minus"></span>
    </button>
     <button type='button' class="btn-success btn-default btn btn-sm" (click)="addSection()">
       <span class="glyphicon glyphicon-plus"></span>
    </button>
    <br>
    <br>
     <div class="checkbox">
        <label>
            <input type="checkbox"  
            [(ngModel)]="currentReviewItem.isLocked" 
            #isLocked="ngModel"
            name="isLocked" > Lock Review Item
        </label>
    </div>
    <br>
    <button type='button' class="btn-default btn" (click)="cancelAction()">
      Cancel
    </button>
    <button type='button' *ngIf="reviewItemForm.valid" class="btn-success btn-default btn" (click)="submit()">
       {{CurrentAction[action]}} Review Item
    </button>
    </form>
</div>
